{{#each notes as |note|}}

  <ul data-id="{{note.id}}">
    <li> Comment: {{note.comment}}</li>
    <li>Time: {{note.time}}</li>
    <li><button class='remove'> remove</button></li>
  </ul>
{{/each}}
