$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';

aside {
  float:right;
  display:inline-block;
  vertical-align: top;
  border: 2px dotted blue;
  word-wrap: break-word;
  margin: 0 1.5%;
  width: 90%;
  height: 90%
}

body {
  background-color: gray;
}

h1 {
  text-align: center;
  color: yellow;
}

.main {
  float: left;
}
nav {
  display: inline-block;
  width: 90%;
  height: 20%;
  vertical-align: middle;
  float: left;
  clear:both;
}

#wrapper {
  float: right;
  text-align: left;
  width: 35%;
  height: 75%;
}
