$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors';

aside {
  clearfix: left;
  display:inline-block;
  vertical-align: top;
  border: 3px white;
  background-color: yellow;
  word-wrap: break-word;
  margin: 0 1.5%;
  width: 90%;
  height: 90%
}
.comment-input {
    word-wrap: break-word;
    word-break: break-word;
    height: 30px;
    width: 120px;
}

#message{
  z-index: 0;
  width: 15%;
  display: inline-flex;
  margin: 0 auto;
  height: 10;
  align-self: flex-start;
  color: white;
  font-weight: bold;
}

body {
  background-color: gray;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  z-index: 1;
}
textarea {
    resize: none;
}

h1 {
  color: yellow;
  align-content: center;
  float: left;
  margin: 0 3px;
}

h5 {
  text-align: center;
  color: yellow;
  height: 25px;
  padding: 0 4px;
  margin: 5px auto;
}

h4 {
  text-align: center;
  align-content: center;
}

form {
      float: right;
      display: block;
      align-content: center;
      height: 70px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 10px;
}

.main {
  clear: both;
  margin: 70px;
  border-right-style: ridge;
  border-width: thin;
  border: white;
}

#note {
  float: left;
  font-size: 14px;
  border-right-style: ridge;
  border-width: thin;
  border: white;
}
.nav {
  display: inline-block;
  width: 70%;
  height: 70px;
  vertical-align: right;
}

td {
  padding: 5px;
  margin: auto 2px;
  border: 15px black;
  font-size: 20px;
}

#wrapper {
  text-align: left;
  width: 65%;
  height: 75%;
  margin: 20px;

}

.btn btn-default {
  text-align: center;
}
